# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- checkazure

pool:
  vmImage: ubuntu-latest

stages:
  - stage: 'Check'
    displayName: 'Junit test'
    jobs:
      - job: 'junittesting'
        displayName: 'Run'
        steps:
          - script: echo "this is working correctly"
          - task: Maven@3
            inputs:
                mavenPomFile: 'pom.xml'
                goals: 'clean package'
                publishJUnitResults: true
                testResultsFiles: '**/surefire-reports/TEST-*.xml'
                javaHomeOption: 'JDKVersion'
                mavenVersionOption: 'Default'
                mavenAuthenticateFeed: false
                effectivePomSkip: false
                sonarQubeRunAnalysis: false
                pmdRunAnalysis: true
                findBugsRunAnalysis: true
          - task: CopyFiles@2
            inputs:
              Contents: '*.jar'
              TargetFolder: '$(build.artifactstagingdirectory)'
              CleanTargetFolder: true
              OverWrite: true
          - task: PublishBuildArtifacts@1
            inputs:
              PathtoPublish: '$(Build.ArtifactStagingDirectory)'
              ArtifactName: 'drop'
              publishLocation: 'Container'

